*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:$light-color;
    color: $dark-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
a{
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: $grey-color;
}

.box-shadow-dark{
    box-shadow:  -2px -2px 2px rgba(255,255,255,.04),
                 2px 2px 2px rgba(0,0,0,.5);
}
.box-shadow-light{
    box-shadow: 2px 2px 2px rgba(0,0,0,.14),
                -2px -2px 2px rgba(255,255,255,1);
}
.logo{
    color: $light-color;
    
    text-shadow: -2px -2px 2px rgba(255,255,255,.7),
                   2px 2px 2px rgba(0,0,0,.07);

    
}
.logo-large{
    font-size: 5rem;
    border-bottom: 1px solid $grey-color;
}