*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark:#121212;
    --light:#f2f2f2;
    --text-color: #20b7ff;
    --grey-color:#a9a9a9;
    
    
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:var(--light);
    color:var(--dark);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .5;
    
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: var(--dark);
}
a:hover{
    color: var(--dark);
}

.box-shadow-dark{
    border-radius: 7px;
    box-shadow:  -2px -2px 2px rgba(255,255,255,.04),
                  2px 2px 2px rgba(0,0,0,.5);
}
.box-shadow-light{
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.14),
                -2px -2px 2px rgba(255,255,255,1);
}
.box-shadow-dark-in{
    border-radius: 7px;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,1),
                inset -2px -2px 2px rgba(255,255,255,.12);
}
.box-shadow-light-in{
    border-radius: 7px;
    box-shadow:  3px 3px 3px rgba(255,255,255,1),
                 -3px -3px 3px rgba(0,0,0,.16);
}
.text-light{
     color: var(--light);
     text-shadow:  -2px -2px 2px rgba(255,255,255,1),
                   2px 2px 2px rgba(0,0,0,.12);

    
}
.text-dark{
    color: var(--light);
    
    text-shadow:  -2px -2px 2px rgba(255,255,255,.1),
                   2px 2px 2px rgba(0,0,0,1);
}
.logo-large{
    font-size: 5rem;
    //border-bottom: 1px solid var(--dark);
    color: var(--light);
}

.d-none{
    display:none;
    
    
}
.p-1{
    padding: 5px;
    margin: 2px 3px;
    display: inline-block;
    color: var(--text-color);
    text-transform: capitalize;
}
.highlight{
    color: var(--text-color);
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.content-color{
    color: var(--grey-color);
    text-transform: capitalize;
}
.dark-mode{
    background-color: var(--dark);
    
}
.light-mode{
    background-color: var(--light);
}
.text-color{
    color: var(--text-color);
}
.mybtn{
    padding:20px;
    border-radius: 7px;
    text-align: center;
    margin-top: 40px;
}
.loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--dark); 
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
 }
.bottom-border{
    width: 50%;
    height: 5px;
    // box-shadow: 2px 2px 2px rgba(0,0,0,.14),
    //              -2px -2px 2px rgba(255,255,255,1);
    
    
    
    
}
.mylogo{
    box-shadow: none;
    border-bottom: none;
    transition: all 500ms ease-in-out;
    transition-delay: 0ms;
    color: var(--dark); 
    
    // text-shadow:  -2px -2px 2px rgba(255,255,255,1),
    //                2px 2px 2px rgba(0,0,0,.12);
}
.slider-container{
    position: relative;
    display: block;
    overflow-x: scroll;
    width: 100%;
    overflow-y: hidden;
    min-height: 300px;
     margin: 20px auto;
     padding-bottom: 20px;
    &::-webkit-scrollbar{
        display: none;
    }
}
.mycard-box{
 width: 100%;
 position: relative;
 display: block;
 white-space: nowrap;
 margin: 0 auto;
    .mycard{
        white-space:initial;
        display: inline-block;
        width: 300px;
        height: 300px;
        margin-right: 30px;
        
    
       .mycard-header{
             width: 100%;
             height: 140px;
             img{
                 width: 100%;
                 height: 100%;
             }
         }
         .mycard-body{
             padding: 3px 8px;
     
             h3{
                 font-size: 1rem;
                 letter-spacing: 2px;
             }
             p{
                 font-size: .8rem;
                 padding-top: 5px;
                 letter-spacing: 1.5px;
             }
         }
         &:nth-child(1){
             margin-left:90px;
         }
     }
}

.nevigation-btn{
    position: absolute;
    width: 100%;
    height: 100%;
    a{
        position: absolute;
        padding: 2%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
    }
    .left-nevigation{
        top: -55%;
        left: 3%;
    }
    .right-nevigation{
        top: -55%;
        right: 3%;
    }
}
.animate{
    transform: translateY(10px);
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes bounce{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-100px);
    }
}

// for large devices
@media screen and (min-width:992px) {
   .slider-container{
       width: 60%;
   }
    .mycard{
       width: 25%;
   }
   .nevigation-btn .right-nevigation{
    top: -55%;
    right: 3%;
    z-index: 99;
}
}
