@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*,
*::before,
*::after{
margin:0;
padding: 0;
box-sizing: border-box;
}
:root{
--white:#fff;
--lightwhite:#f1f1f1;
--black:#000;
--lightblack:#18191f;
--grey:rgb(177, 170, 170);
--navy:#2e2a39;
--teal:#058789;
--orange:#d54b1a;
--yellow:#e3a72f;
--cream:#f0ecc9;
--dgreen:#2f4b26;
--lgreen:#3e885b;
--pgreen:#85bda6;
}
body{
font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.nav-link{
font-size: 1.2em;
text-align: center;
padding: 10px;
color: var(--grey);
}
.box{
 display: flex;
 justify-content: space-between;
 height: 100vh;
 z-index: 99999;
}
.side-nav{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:0px 10px;
  border-right: 1px solid var(--lightblack);
  height: 100vh;
  background: var(--lightblack);
  box-shadow: -4px 4px 6px rgba(0,0,0,.8);
  z-index: 999;
  position: absolute;

}
.icon {
  font-size: 1.7rem;
  color: var(--grey);
  text-decoration: none;
  width: 45px ;
  height: 45px;
  margin-top: 15px;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  background: var(--lightblack);
  align-items: center;
  justify-content: center;
  box-shadow:  -3px -3px 2px rgba(255,255,255,0.08),
               4px 4px 4px rgba(0,0,0,0.6);
}
.icon:hover{
color: var(--grey);
}
.active{
  box-shadow: inset -3px -3px 2px rgba(255,255,255,0.08),
              inset 4px 4px 4px rgba(0,0,0,0.6);
  color: var(--white);
}
.main-area{
width: 100%;
height: 100vh;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
background: var(--lightwhite);
cursor: pointer;

}
.main-area .text{
  position: relative;
  color: var(--white);
  font-weight: 700;
  font-size: 4.5em;
  text-transform: uppercase;
  line-height: 0.9em;
  letter-spacing: 2px;
  text-align: center;
  top: -10%;
  transform: rotate(-30deg) skew(25deg) translateX(20px);
  transition: all 1300ms ease-in-out;
  transition-delay: 2s;
}
.desc-box{
    position: absolute;
    width: 100%;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 4;
    background: rgba(0,0,0,0.93);
    color: var(--white);
    padding: 60px;
    overflow: hidden;
    transform: translateX(-600px);/*-600px*/
    transition: transform 1000ms ease-in-out;
    transition-delay: 4s;
    font-family: 'Poppins', sans-serif;
    padding-left: 80px;
}

.desc{

text-transform: capitalize;
font-weight: 600;
font-size: 2.5em;
color: var(--white);
letter-spacing: 2px;
margin-top: 50px;
}
.hi{
  position: relative;
  top: -50px;
  opacity: 0;
  transition: all 1s ease-in-out;
  transition-delay: 4s;
}
.animatehi{
  top: 0px;
  opacity: 1;
}
.iam{
  position: relative;
  left: -80px;
  opacity: 0;
  transition: all 1s ease-in-out;
  transition-delay: 5s;
}
.animateiam{
  left: 0px;
  opacity: 1;
}

.tags{
  font-size: 0.43em;
  color: var(--white);

  /* box-shadow:  -2px -2px 2px rgba(255,255,255,0.07),
               3px 3px 4px rgba(0,0,0,0.5); */
/* border-radius: 10px;
padding: 7px; */
}
.aboutme{
  color: var(--white);
  font-size: 1.1em;
  letter-spacing: 2px;
  text-align: left;
  transform: translateY(60%);
  opacity: 0;
  transition: all 1s ease-in-out;
  transition-delay: 6s;

}
.animateAbout{
  transform: translateY(0);
  opacity: 1;
}




/*for small devices*/
@media screen and (max-width:992px) {

  #large-nav{
    display: none;
  }

}








/* background aniation css */
/* .bg-animate{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 9999;
  text-align: center;
  overflow: hidden;

}
.bg-box{
width: 20px;
height: 20px;
display: inline-block;
z-index: -1;
}
.dot{
width: 10px;
height: 10px;

border-radius: 50%;
}
.colour-1,
.colour-2,
.colour-3,
.colour-4,
.colour-5 {
position: relative;
 left: 50%;
top: 50%;
transform: translate(-50%,-50%);
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
animation-play-state: running;
animation-iteration-count: infinite;
}
/* .bg-box:hover .colour-1,
.bg-box:hover .colour-2,
.bg-box:hover .colour-3,
.bg-box:hover .colour-4,
.bg-box:hover .colour-5{
 animation-play-state: running;
} */
/* .colour-1{
  animation-name: grow-1;
}
.colour-2{
  animation-name: grow-2;
}
.colour-3{
  animation-name: grow-3;
}
.colour-4{
  animation-name: grow-4;
}
.colour-5{
  animation-name: grow-5;
}

@keyframes grow-1{
  0%{
 background-color: var(--cream);
 z-index: 0;
 width: 10px;
 height: 10px;
  }
  20%{
 z-index: 1;

  }
  100%{
 background-color: var(--dgreen);
 width: 50px;
 height: 50px;
 z-index: 1;
  }
 }
 @keyframes grow-2{
  0%{
 background-color: var(--cream);
 z-index: 0;
 width: 10px;
 height: 10px;
  }
  20%{
 z-index: 1;

  }
  100%{
 background-color: var(--lgreen);
 width: 100px;
 height: 100px;
 z-index: 1;
  }
 }
 @keyframes grow-3{
  0%{
 background-color: var(--cream);
 z-index: 0;
 width: 10px;
 height: 10px;
  }
  20%{
 z-index: 1;

  }
  100%{
 background-color: var(--pgreen);
 width: 150px;
 height: 150px;
 z-index: 1;
  }
 }
 @keyframes grow-4{
  0%{
 background-color: var(--cream);
 z-index: 0;
 width: 10px;
 height: 10px;
  }
  20%{
 z-index: 1;

  }
  100%{
 background-color: var(--orange);
 width: 175px;
 height: 175px;
 z-index: 1;
  }
 }
 @keyframes grow-5{
  0%{
 background-color: var(--cream);
 z-index: 0;
 width: 10px;
 height: 10px;
  }
  20%{
 z-index: 1;

  }
  100%{
 background-color: var(--yellow);
 width: 150px;
 height: 150px;
 z-index: 1;
  }
 }  */


