@import './general';
 @import './variables';

// navbar
.nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;

    .menu-btn-box{
        overflow: hidden;
        width: 50px;
        height: 50px;
        position: fixed;
        display:flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: var(--light);
        color: var(--dark);
        // box-shadow: 2px 2px 2px rgba(0,0,0,.2),
        //            -2px -2px 2px rgba(255,255,255,1);
        border-radius: 7px;
        top: 20px;
        right: 6%;
        z-index: 1000;
        .menu-btn{
           width: $bar-btn-width;
           height: $bar-btn-height;
           background: var(--text-color);
           border-radius: 5px;
           box-shadow: 0px 2px 5px rgba(255,101,47,.2);
           transition: all.5s ease-in-out;
    
           &::before,
           &::after{
               content: '';
               position: absolute;
               width: $bar-btn-width;
              height: $bar-btn-height;
              background: var(--text-color);
              border-radius: 5px;
              box-shadow: 0px 2px 5px rgba(255,101,47,.2);
              transition: all.5s ease-in-out;
           }
           &::before{
               transform: translateY(-12px);
           }
           &::after{
               transform: translateY(12px);
           }
        }
        
       
        &.open.box-shadow-light{
            box-shadow: inset 2px 2px 2px rgba(0,0,0,.2),
                        inset -2px -2px 2px rgba(255,255,255,1);
        }
        &.open.box-shadow-dark{
            box-shadow: inset 2px 2px 2px rgba(0,0,0,1),
                        inset -2px -2px 2px rgba(255,255,255,.12);
        }
        &.open .menu-btn{
            transform: translateX(50px);
            background: transparent;
            box-shadow: none;
            
        }
        &.open .menu-btn::before{
            transform: rotate(45deg) translate(-35px,35px);
        }
        &.open .menu-btn::after{
            transform: rotate(-45deg) translate(-35px,-35px);
        }
        &:hover  .menu-btn,
        &:hover .menu-btn::after,
        &:hover .menu-btn::before{
            background: var(--dark);
        }
        
    }
    .theme-box{
        overflow: hidden;
        width: 50px;
        height: 50px;
        position: fixed;
        display:flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: var(--light);
        color: var(--dark);
        // box-shadow: 2px 2px 2px rgba(0,0,0,.2),
        //            -2px -2px 2px rgba(255,255,255,1);
        border-radius: 7px;
        top: 87px;
        right: 6%;
        z-index: 1000;
        &:hover .theme-btn .fa-sun,
        &:hover .theme-btn .fa-moon{
             color: #20b7ff;
        }
        .theme-btn{
            font-size: 1.7rem;
           
            transition: .5s;

          .fa-moon{
              color: #121212;
          }
          .fa-sun{
              color: #f2f2f2;
          }
            
        }
    }
   
}
 //navbar menu list
 .menu-box{
    width: 100%;
    position: fixed;
    height: 100vh;
    z-index: 500;
    background: rgba(0,0,0,.01); 
    visibility: hidden;
    background: var(--light);
   
    .menu{
        width: 100%;
        height: 88vh;
        transform: translateY(12vh);
        // visibility: hidden;
        // transform: translateX(120%);
        background: var(--light);
        display: flex;
        flex-direction: column;
        align-items: center;
      
       
        .menu-item{
            width: 90%;
            min-height: 2vh;
            border-radius: 7px;
            // box-shadow: 2px 2px 2px rgba(0,0,0,.2),
            //            -2px -2px 2px rgba(255,255,255,1);
           text-align: center;
            padding: 10px;
            margin-top: 10px;
            transform: translateX(130%);
            a{
                display: block;
                width: 100%;
                height: 100%;
                
                font-size: 1.2rem;
                letter-spacing: 3px;
                color: var(--text-color);
                &:hover{
                    color: var(--dark);
                }
               
            }
           
            &:nth-child(1){
               box-shadow: none;
               border-bottom: none;
               transition: all 500ms ease-in-out;
               transition-delay: 0ms;
             }
             &:nth-child(2){
                transition: all 500ms ease-in-out;
                transition-delay: 300ms;
             }
            &:nth-child(3){
               transition: all 500ms ease-in-out;
               transition-delay: 400ms;
            }
            &:nth-child(4){
                transition: all 500ms ease-in-out;
                transition-delay: 500ms;
             }
             &:nth-child(5){
                transition: all 500ms ease-in-out;
                transition-delay: 800ms;
             }
             &:nth-child(6){
                transition: all 500ms ease-in-out;
                transition-delay: 1100ms;
             }
           
        }
        
    } 
   
    &.active{
        visibility: visible;
        transform: translateX(0%);
    
    } 
    // &.active .menu{
    //     visibility: visible;
    //     transform: translateX(0%);
        
    // }
    &.active .menu .menu-item{
        transform: translateX(0%);
    }
}
// navbar menu list end here
// navbar end here
.main{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   // transition: all 900ms ease-in-out;
    .title{
        padding:50px 10px;
       // transition: all 900ms ease-in-out;
        h1{
            font-size: 4rem;
            transform: scale(0);
            &:nth-child(1){
                transition: all 900ms ease-in-out;
                transition-delay: 1s;
       
            }
            &:nth-child(2){
                transition: all 900ms ease-in-out;
                transition-delay: 2s;
            }
        }
        
       
        &.active h1{
           transform: scale(1);
        }
    

    }
    .intro{
       
        p{
            font-size: 1.3rem;
            letter-spacing: 1px;
            margin-top: -30px;
            padding: 10px;
            padding-left: 15px; 
            color: var(--grey-color);
            overflow: hidden;
            transform: translateX(200%);
            font-weight: 500;
            visibility: hidden;
            transition: all 900ms ease-in-out;
            // box-shadow:  3px 3px 3px rgba(255,255,255,1),
            //              -3px -3px 3px rgba(0,0,0,.16);
           transition-delay: 3s;
        }
        
        &.active p{
            transform: translateX(0%);
            visibility: visible;
        }
    }
    
    .landing-btn-box{
        
        display: flex;
        justify-content: space-between;
        a{
            margin: 30px 19px;
            display: block;
            transform: scale(0);
            transition: all 900ms ease-in-out;
            &:nth-child(1){
                transition-delay: 4s;
            }
            &:nth-child(2){
                transition-delay: 5s;
            }
        }
        &.active a{
            transform: scale(1);
        }
    }
}

.alert{
    width: 60%;
    min-height: 10vh;
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 5px 10px;
    text-align: center;
    transition: all .9s ease-in-out;
    
}
// about section start here
.about-box{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 900ms ease-in-out;
    .about-body{
        width: 100%;
        padding: 0px 19px;
        transition: all 900ms ease-in-out;

    }
}
// service section start here
.services-box{
    margin-top: 100px;
}
// for large devices
@media screen and (min-width:992px) {
    .menu-box .menu{
        align-items: flex-end;
        padding-right: 6%;
    }
    .menu-box .menu .menu-item{
        width: 40%;
    }
    .main .title h1{
         font-size: 11rem;
     }
     .main .intro{
         margin-left: -390px;
     }
     .main .intro P{
         font-size: 2rem;
     }
     .main .landing-btn-box{
         margin-left: -580px;
     }
   
    //  about
    .about-box{
        
        .about-body{
            width: 40%;
    
        }
    }
}
