*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --dark:#121212;
  --light:#f2f2f2;
  --text-color: #20b7ff;
  --grey-color:#a9a9a9;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--light);
  color: var(--dark);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-transition: .5;
  transition: .5;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: var(--dark);
}

a:hover {
  color: var(--dark);
}

.box-shadow-dark {
  border-radius: 7px;
  -webkit-box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.04), 2px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.04), 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.box-shadow-light {
  border-radius: 7px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.14), -2px -2px 2px white;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.14), -2px -2px 2px white;
}

.box-shadow-dark-in {
  border-radius: 7px;
  -webkit-box-shadow: inset 2px 2px 2px black, inset -2px -2px 2px rgba(255, 255, 255, 0.12);
          box-shadow: inset 2px 2px 2px black, inset -2px -2px 2px rgba(255, 255, 255, 0.12);
}

.box-shadow-light-in {
  border-radius: 7px;
  -webkit-box-shadow: 3px 3px 3px white, -3px -3px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 3px white, -3px -3px 3px rgba(0, 0, 0, 0.16);
}

.text-light {
  color: var(--light);
  text-shadow: -2px -2px 2px white, 2px 2px 2px rgba(0, 0, 0, 0.12);
}

.text-dark {
  color: var(--light);
  text-shadow: -2px -2px 2px rgba(255, 255, 255, 0.1), 2px 2px 2px black;
}

.logo-large {
  font-size: 5rem;
  color: var(--light);
}

.d-none {
  display: none;
}

.p-1 {
  padding: 5px;
  margin: 2px 3px;
  display: inline-block;
  color: var(--text-color);
  text-transform: capitalize;
}

.highlight {
  color: var(--text-color);
  font-size: 1.1rem;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.content-color {
  color: var(--grey-color);
}

.dark-mode {
  background-color: var(--dark);
}

.light-mode {
  background-color: var(--light);
}

.text-color {
  color: var(--text-color);
}

.mybtn {
  padding: 20px;
  border-radius: 7px;
  text-align: center;
  margin-top: 40px;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: var(--dark);
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-border {
  width: 50%;
  height: 5px;
}

.mylogo {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: none;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  color: var(--dark);
}

.mycard-box {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 20px auto;
}

.mycard-box .mycard {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  opacity: 0;
  width: 90%;
  min-height: 200px;
  padding-bottom: 10px;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.mycard-box .mycard .mycard-header {
  width: 100%;
  height: 150px;
}

.mycard-box .mycard .mycard-header img {
  width: 100%;
  height: 100%;
}

.mycard-box .mycard .mycard-body {
  padding: 10px 10px;
}

.mycard-box .mycard .mycard-body p {
  font-size: .8rem;
  padding-top: 5px;
  letter-spacing: 1.5px;
}

.mycard-box .mycard.active {
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  opacity: 1;
}

.nevigation-btn {
  position: absolute;
  width: 100%;
  height: 100%;
}

.nevigation-btn a {
  position: absolute;
  padding: 2%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.4rem;
  background-color: var(--light);
}

.nevigation-btn .left-nevigation {
  top: 10%;
  left: 2%;
}

.nevigation-btn .right-nevigation {
  top: 10%;
  right: 2%;
}

.fade {
  -webkit-transition: all 900ms ease-in-out;
  transition: all 900ms ease-in-out;
}

.fade-in {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.fade-out {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.animate {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@media screen and (min-width: 992px) {
  .slider-container {
    width: 100%;
  }
  .mycard-box {
    margin-top: 50px;
    position: relative;
    width: 80%;
  }
  .mycard-box .mycard {
    width: 40%;
  }
  .nevigation-btn .right-nevigation {
    top: 16%;
    right: 3%;
    z-index: 99;
  }
  .nevigation-btn .left-nevigation {
    top: 16%;
    left: 3%;
    z-index: 99;
  }
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .menu-btn-box {
  overflow: hidden;
  width: 50px;
  height: 50px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: var(--light);
  color: var(--dark);
  border-radius: 7px;
  top: 20px;
  right: 6%;
  z-index: 1000;
}

.nav .menu-btn-box .menu-btn {
  width: 32px;
  height: 3px;
  background: var(--text-color);
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-btn-box .menu-btn::before, .nav .menu-btn-box .menu-btn::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 3px;
  background: var(--text-color);
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-btn-box .menu-btn::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.nav .menu-btn-box .menu-btn::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.nav .menu-btn-box.open.box-shadow-light {
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2), inset -2px -2px 2px white;
          box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2), inset -2px -2px 2px white;
}

.nav .menu-btn-box.open.box-shadow-dark {
  -webkit-box-shadow: inset 2px 2px 2px black, inset -2px -2px 2px rgba(255, 255, 255, 0.12);
          box-shadow: inset 2px 2px 2px black, inset -2px -2px 2px rgba(255, 255, 255, 0.12);
}

.nav .menu-btn-box.open .menu-btn {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav .menu-btn-box.open .menu-btn::before {
  -webkit-transform: rotate(45deg) translate(-35px, 35px);
          transform: rotate(45deg) translate(-35px, 35px);
}

.nav .menu-btn-box.open .menu-btn::after {
  -webkit-transform: rotate(-45deg) translate(-35px, -35px);
          transform: rotate(-45deg) translate(-35px, -35px);
}

.nav .menu-btn-box:hover .menu-btn,
.nav .menu-btn-box:hover .menu-btn::after,
.nav .menu-btn-box:hover .menu-btn::before {
  background: var(--dark);
}

.nav .theme-box {
  overflow: hidden;
  width: 50px;
  height: 50px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: var(--light);
  color: var(--dark);
  border-radius: 7px;
  top: 87px;
  right: 6%;
  z-index: 1000;
}

.nav .theme-box:hover .theme-btn .fa-sun,
.nav .theme-box:hover .theme-btn .fa-moon {
  color: #20b7ff;
}

.nav .theme-box .theme-btn {
  font-size: 1.7rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav .theme-box .theme-btn .fa-moon {
  color: #121212;
}

.nav .theme-box .theme-btn .fa-sun {
  color: #f2f2f2;
}

.menu-box {
  width: 100%;
  position: fixed;
  height: 100vh;
  z-index: 500;
  background: rgba(0, 0, 0, 0.01);
  visibility: hidden;
  background: var(--light);
}

.menu-box .menu {
  width: 100%;
  height: 88vh;
  -webkit-transform: translateY(12vh);
          transform: translateY(12vh);
  background: var(--light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-box .menu .menu-item {
  width: 90%;
  min-height: 2vh;
  border-radius: 7px;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  -webkit-transform: translateX(130%);
          transform: translateX(130%);
}

.menu-box .menu .menu-item a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  letter-spacing: 3px;
  color: var(--text-color);
}

.menu-box .menu .menu-item a:hover {
  color: var(--dark);
}

.menu-box .menu .menu-item:nth-child(1) {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: none;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.menu-box .menu .menu-item:nth-child(2) {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.menu-box .menu .menu-item:nth-child(3) {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}

.menu-box .menu .menu-item:nth-child(4) {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}

.menu-box .menu .menu-item:nth-child(5) {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}

.menu-box .menu .menu-item:nth-child(6) {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transition-delay: 1100ms;
          transition-delay: 1100ms;
}

.menu-box.active {
  visibility: visible;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu-box.active .menu .menu-item {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.main {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .title {
  padding: 50px 10px;
}

.main .title h1 {
  font-size: 4rem;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.main .title h1:nth-child(1) {
  -webkit-transition: all 900ms ease-in-out;
  transition: all 900ms ease-in-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.main .title h1:nth-child(2) {
  -webkit-transition: all 900ms ease-in-out;
  transition: all 900ms ease-in-out;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.main .title.active h1 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main .intro p {
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-top: -30px;
  padding: 10px;
  padding-left: 15px;
  color: var(--grey-color);
  overflow: hidden;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  font-weight: 500;
  visibility: hidden;
  -webkit-transition: all 900ms ease-in-out;
  transition: all 900ms ease-in-out;
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

.main .intro.active p {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  visibility: visible;
}

.main .landing-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .landing-btn-box a {
  margin: 30px 19px;
  display: block;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 900ms ease-in-out;
  transition: all 900ms ease-in-out;
}

.main .landing-btn-box a:nth-child(1) {
  -webkit-transition-delay: 4s;
          transition-delay: 4s;
}

.main .landing-btn-box a:nth-child(2) {
  -webkit-transition-delay: 5s;
          transition-delay: 5s;
}

.main .landing-btn-box.active a {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.alert {
  width: 60%;
  min-height: 10vh;
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 5px 10px;
  text-align: center;
  -webkit-transition: all .9s ease-in-out;
  transition: all .9s ease-in-out;
}

.about-box {
  width: 100%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 900ms ease-in-out;
  transition: all 900ms ease-in-out;
}

.about-box .about-body {
  width: 100%;
  padding: 0px 19px;
  -webkit-transition: all 900ms ease-in-out;
  transition: all 900ms ease-in-out;
}

.services-box {
  margin-top: 100px;
}

@media screen and (min-width: 992px) {
  .menu-box .menu {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 6%;
  }
  .menu-box .menu .menu-item {
    width: 40%;
  }
  .main .title h1 {
    font-size: 11rem;
  }
  .main .intro {
    margin-left: -390px;
  }
  .main .intro P {
    font-size: 2rem;
  }
  .main .landing-btn-box {
    margin-left: -580px;
  }
  .about-box .about-body {
    width: 40%;
  }
}
/*# sourceMappingURL=style.css.map */