*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: #dde1e7;
  --white:#fff;
  }
body {
background-color: var(--background);


}
a{
 text-decoration: none;
}
a:hover{
  text-decoration: none;
}
input,
input:focus,
input:active{
outline: none;
box-shadow: none;
}
/* styling introduction section */

.nav{

  justify-content: space-between;
  padding: 2px 16px;
  color: var(--white);
}
.logo{
border: 1px solid transparent;
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
padding-top: 10px;
border-radius: 50%;
font-weight: bold;
margin-top: 10px;
box-shadow: -4px -4px 8px rgba(255,255,255,0.8),
              4px 4px 8px rgba(0,0,0,.08);
}
.bars-btn-container{
  border: 1px solid transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  margin-top: 10px;
  box-shadow: -4px -4px 8px rgba(255,255,255,0.8),
                4px 4px 8px rgba(0,0,0,.08);
}
.bars-btn{
  cursor: pointer;
}
.intro-container{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100%;

}
.name{
font-size: 80px;
text-transform: capitalize;
color: var(--background);
}


.text-nue{
  text-shadow:  -4px -4px 6px rgba(255,255,255,0.8),
                 4px 4px 6px rgba(0,0,0,.08);
}
.intro-btn{
  margin-top: 30px;

}
.project-btn{
 margin-left: 15px;
}
.mybtn{
color: var(--white);
font-size: 1.2rem;
border: 1px solid transparent;
box-shadow: -6px -6px 9px rgba(255,255,255,0.8),
             6px 6px 9px rgba(0,0,0,.08);
padding: 5px 20px;
border-radius: 20px;
cursor: pointer;
font-weight: 700;
}
.mybtn:hover{
  box-shadow:inset -6px -6px 9px rgba(255,255,255,0.8),
             inset 6px 6px 9px rgba(0,0,0,.08);
 color:var(--white);
}


